<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Get Sum</h1>
        <form action="/data" method="get" class="form">
            <label for="number">請輸入正整數</label>
            <input type="text" name="value" id="number">
        <!--    <input type="number" name="value" id="number" min=1 placeholder="1">-->
            <button type="submit">送出</button>
        </form>

        <h2 id="result"></h2>

        <script src="/app.js"></script>
    </body>
</html>